@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  background: linear-gradient(90deg, #010202 0%, #010202 45%,rgba(1, 2, 2, 0.2) 90%);
}

.header {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;
  }

.logo {
  display: block;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-right: 15px;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.description {

  width: 90%;
  max-width: 1146px;
  height: 306px;
  padding: 201px 0;
  margin: auto;
}
.description-film-logo {
  max-width: 450px;
  max-height: 90px;
}


.description-tag {
  font-size: 16px;
  line-height: 140%;
  color: #E5E5E5;
  opacity: 0.4;
}
.description-text {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
  padding-bottom: 36px;
}

.button {
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  padding: 11px 26px;
}

.description-order {
  border: 0;
  cursor: pointer;
  background-color: #EA6E20;
  margin-right: 36px;
}

.description-promo {
  border: 0;
  cursor: pointer;
  background-color: #2F2F2F;
}
.btn {
  cursor: pointer;
  border: 0;
  color: #fff;
  background-color: #EA6E20;
  padding: 5px 5px;
  border-radius: 4%;
}

.promo-img {
  padding-right: 15px;
}


.footer {
  max-width: 90%;
}


.modal {
  width: 95%;
  max-width: 440px;
  background: #2243af;
  border-radius: 5px;
  margin: auto;
  padding: 25px 5px;
  color: #EA6E20;
  display: flex;
  align-items: center;
  justify-content: space-around ;
   text-align: center;

}





/* адаптив */

@media (max-width: 786px ){
  .container {
    height: auto;
    padding-bottom: 500px;
    background: url('../img/cover-image.png') no-repeat bottom center / 400px;
  }
  
video {
    display: none;
  }
    .header {
  padding: 25px 0;    
  }
  .description {
    padding-top: 1%;
  }

  .description-text {
    max-width: 100%;
    font-size: 16px;
  }
  .description-logo{
    max-width: 100%;
  }
  .button {
  padding: 8px 12px;
  }
  .modal-dialog {
  width: 50%;
  padding: 5px 5px;
  font-size: 10px;
  }

}

@media (max-width: 567px ){
  .container {
    height: 50%;
  }
  .description-text {
  font-size: 14px;
  }
  .button {
  padding: 6px 8px;
  }
.user-name {
  display: none;
}
.description-promo {
font-size: 0;
}
.modal-dialog {
  width: 50%;
  padding: 1px 1px;
  font-size: 8px;
}

}

@media (max-width: 390px){
    .container {
    height: 50%;
  }

.description-text {
    font-size: 16px;
  }
  .button {
 margin-bottom: 10px;
}
.modal-dialog {
  width: 50%;
}

}