@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}
.container {
  height: 900px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('/img/cover-image.png');
  background-repeat: no-repeat;
  background-position: right;
}

.header {
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-right: 15px;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.description {
  margin-top: 300px;
}

.description-film-logo {
  min-width: 450px;
  max-height: 90px;
}

.description {
  width: 460px;
  height: 306px;
  margin-left: 147px;
}

.description-tag {
  font-size: 16px;
  line-height: 140%;
  color: #E5E5E5;
  opacity: 0.4;
}
.description-text {
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
}

.button {
  text-decoration: none;
  color: #fff;
  margin-top: 36px;
}

.description-order {
  width: 203px;
  height: 44px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background-color: #EA6E20;
  color: #fff;
  padding: 10px 25px 10px;
}

.description-promo {
  width: 203px;
  height: 44px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background-color: #2F2F2F;
  color: #fff;
  padding: 11px;
  margin-left: 36px;
}

.promo-img {
  padding-right: 15px;
}


.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   display: none;
}
.modal-dialog {
  width: 95%;
  max-width: 550px;
  background: #2243af;
  border-radius: 5px;
  margin: auto;
  padding: 10px 25px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-around ;
   text-align: center;
}

.close {
   font-size: 33px;
   border: none;
   background: transparent ;
   
}

.is-open {
   display: flex;
}